# Множество (set)

**Множество** - структура данных, представляющая собой неупорядоченную коллекцию уникальных объектов.

In [2]:
{1, 2, 3, 2}

{1, 2, 3}

In [3]:
set('qwerty')

{'e', 'q', 'r', 't', 'w', 'y'}

In [4]:
hash(18)

18

In [5]:
hash('18')

1657981523031311714

In [6]:
hash('81')

7138550592985976595

In [7]:
a = {'q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p'}

a[0]

TypeError: 'set' object is not subscriptable

## Работа с элементами множеств

In [10]:
a = {1, 2, 3, 4, 5}
len(a)

5

In [13]:
a = {1, 2, 3, 4, 5}

for i in a:
    print(i)

1
2
3
4
5

In [14]:
a = {1, 2, 3, 4, 5}

1 in a, 6 in a, 6 not in a

(True, False, True)

In [15]:
a = {1, 2, 3, 4, 5}

a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [17]:
a = {1, 2, 3, 4, 5}

a.remove(3)
a

{1, 2, 4, 5}

In [18]:
a = {1, 2, 3, 4, 5}

a.remove(6)
a

KeyError: 6

In [20]:
a = {1, 2, 3, 4, 5}

a.discard(3)
a

{1, 2, 4, 5}

In [19]:
a = {1, 2, 3, 4, 5}

a.discard(6)
a

{1, 2, 3, 4, 5}

In [24]:
a = {1, 2, 3, 4, 5}

val = a.pop() # удаляет случайный элемент и возвращает его значение
val, a

(1, {2, 3, 4, 5})

In [25]:
a = {1, 2, 3, 4, 5}

while a:
    print(a.pop())

1
2
3
4
5

## Операции с множествами

In [28]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a | b 
a.union(b) # объединение

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a |= b 
a.update(b) # объединение
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a & b 
a.intersection(b) # пересечение

{4, 5}

In [33]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a &= b 
a.intersection_update(b) # пересечение
a

{4, 5}

In [34]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a - b 
a.difference(b) # разность

{1, 2, 3}

In [36]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

a ^ b 
a.symmetric_difference(b) # симметрическая разность (XOR, объект принадлежит либо а, 
                          # либо б, но не обоим сразу)

{1, 2, 3, 6, 7, 8}

In [46]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 2, 3, 1}

b <= a
b.issubset(a) # является ли б подмножеством а

True

In [44]:
a = {1, 2, 3, 4, 5}
b = {4, 5}

a >= b
a.issuperset(b) # является ли б подмножеством а

True

In [47]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 2, 3, 1}

a > b # является ли б подмножеством а, но не равно ему

False

# Задачи

Имеется список с произвольными данными. Поставлена задача преобразовать его в множество. Если какие-то элементы нельзя хешировать, то пропускаем их. Функция `list_to_set()` выводит на печать получившееся множество.

In [50]:
hash((1, 2, 3))

529344067295497451

In [51]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

In [66]:
def list_to_set(arr):
    ans = set()

    for a in arr:
        if isinstance(a, (int, float, tuple, str, type(print))):
            ans.add(a)

    print(ans)




list_to_set([1, 2, 3, 'a', (5, 6)]), list_to_set([1, 2, 3, 'a', [5, 6], print, True])

{1, 2, 3, 'a', (5, 6)}
{1, 2, 3, 'a', <built-in function print>}

(None, None)

In [64]:
f = print

hash(print)

8474791052941

In [63]:
from collections.abc import Hashable

def list_to_set(arr):
    ans = set()

    for a in arr:
        if isinstance(a, Hashable):
            ans.add(a)

    print(ans)


list_to_set([1, 2, 3, 'a', (5, 6)])
list_to_set([1, 2, 3, 'a', [5, 6], print, True])

{1, 2, 3, 'a', (5, 6)}
{1, 2, 3, 'a', <built-in function print>}

In [72]:
def list_to_set(arr):
    ans = set()

    for a in arr:
        try:
            ans.add(a)
        except:
            pass

    print(ans)


list_to_set([1, 2, 3, 'a', (5, 6)])
list_to_set([1, 2, 3, 'a', [5, 6], print, True])

{1, 2, 3, 'a', (5, 6)}
{1, 2, 3, 'a', <built-in function print>}

На основании 3 исходных множеств (передаются в качестве аргументов функции `diff()`) требуется написать функцию, которая будет возвращать либо симметричную разность, либо просто разность (если дополнительный аргумент функции `symmetric` имеет значение `False`) приведенных объектов в порядке: 1-ое множество, 2-ое множество, 3-е множество.

In [73]:
def diff(set_1, set_2, set_3, symmetric=True):
    if symmetric:
        return set_1 ^ set_2 ^ set_3
    else:
        return set_1 - set_2 - set_3


set_1 = {3, 4, 5, 6, 20}
set_2 = {4, 6, 7, 8, 9}
set_3 = {5, 3, 8, 1}

print(diff(set_1, set_2, set_3))
print(diff(set_1, set_2, set_3, symmetric=False))

{1, 20, 7, 9}
{20}

Напишите функцию `superset()`, которая принимает 2 множества. Результат работы функции: вывод в консоль одного из сообщений в зависимости от ситуации:
1. «Супермножество не обнаружено»
2. «Объект {X} является чистым супермножеством»
3. «Множества равны»

In [76]:
def superset(set_1, set_2):
    if set_1 < set_2:
        print(f"Объект {set_2} является чистым супермножеством")
    elif set_1 > set_2:
        print(f"Объект {set_1} является чистым супермножеством")
    elif set_1 == set_2:
        print("Множества равны")
    else:
        print("Супермножество не обнаружено")


set_1 = {1, 8, 3, 5}
set_2 = {3, 5}
set_3 = {5, 3, 8, 1}
set_4 = {90, 100}

superset(set_1, set_2)
superset(set_1, set_3)
superset(set_2, set_3)
superset(set_4, set_2)

Объект {8, 1, 3, 5} является чистым супермножеством
Множества равны
Объект {8, 1, 3, 5} является чистым супермножеством
Супермножество не обнаружено

Предоставлен список натуральных чисел. Требуется сформировать из них множество. Если какое-либо число повторяется, то преобразовать его в строку по образцу: например, если число 4 повторяется 3 раза, то в множестве будет следующая запись: само число `4`, строка `«44»` (второе повторение, т.е. число дублируется в строке), строка `«444»` (третье повторение, т.е. строка множится на 3). Реализуйте вывод множества через функцию `set_gen()`.

In [83]:
def set_gen(arr):
    for i in range(len(arr)):
        c = arr.count(arr[i])
        if c > 1:
            j = i
            while j < len(arr) - 1 and arr[i] != arr[j + 1]:
                j += 1
            arr[j] = str(arr[j]) * c
        print(arr)
    return set(arr)


list_1 = [1, 1, 3, 3, 1] 
list_2 = [5, 5, 5, 5, 5, 5, 5]
list_3 = [2, 2, 1, 2, 2, 5, 6, 7, 1, 3, 2, 2]
print(set_gen(list_1))
print(set_gen(list_2))
print(set_gen(list_3))

['111', 1, 3, 3, 1]
['111', 1, 3, '33', 1]
['111', 1, 3, '33', 1]
['111', 1, 3, '33', 1]
['111', 1, 3, '33', '11']
{1, 3, '111', '11', '33'}
['5555555', 5, 5, 5, 5, 5, 5]
['5555555', '555555', 5, 5, 5, 5, 5]
['5555555', '555555', '55555', 5, 5, 5, 5]
['5555555', '555555', '55555', '5555', 5, 5, 5]
['5555555', '555555', '55555', '5555', '555', 5, 5]
['5555555', '555555', '55555', '5555', '555', '55', 5]
['5555555', '555555', '55555', '5555', '555', '55', 5]
{'5555555', 5, '55555', '55', '5555', '555555', '555'}
['222222', 2, 1, 2, 2, 5, 6, 7, 1, 3, 2, 2]
['222222', 2, '11111', 2, 2, 5, 6, 7, 1, 3, 2, 2]
['222222', 2, '11111', 2, 2, 5, 6, 7, 1, 3, 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, 3, 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', 2, 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', '2222', 2]
['222222', 2, '11111', '22222', 2, 5, 6, 7, 1, '3333', '2222', '222']
{'3333', '11111', 2, 1, '2222', 5, 6, 7, '222222', '222', '22222'}