# Типы данных

C++
```c++
int a = 5; 
unsigned int b = 10000;
```

Основные типы данных:

0. `None` - отсутствие типа
1. `int` - integer - целые числа
2. `float` - floating point - числа с плавающей точкой, дробные
3. `complex` - комплексные числа
4. `long` - большие числа
5. `bool` - boolean - булево значение (0/1, `True/False`)
6. `str` - string - строка

In [11]:
a = 5

In [12]:
a.__sizeof__()

28

In [9]:
a = 10000000000000000000000000000000000000000000
a.__sizeof__()

44

In [14]:
a = 1
type(a)

int

In [15]:
a = 1.
type(a)

float

In [16]:
a = float(291)
type(a)

float

In [18]:
a = 291 / 2
type(a), a

(float, 145.5)

In [19]:
str(2132.21)

'2132.21'

In [20]:
str(2132.21) * 2

'2132.212132.21'

In [21]:
str(2132.21 * 2)

'4264.42'

In [22]:
int('213')

213

In [76]:
int('1282a')

ValueError: invalid literal for int() with base 10: '1282a'

In [78]:
int('1282a', 11)

18303

In [79]:
int('1282a', 34)

1424270

In [80]:
int('1282a', 38)

ValueError: int() base must be >= 2 and <= 36, or 0

In [81]:
bin(2132)

'0b100001010100'

In [82]:
oct(2132)

'0o4124'

In [83]:
hex(2132)

'0x854'

In [23]:
complex('213')

(213+0j)

In [24]:
bool(0)

False

In [25]:
bool(1)

True

In [26]:
bool(-150)

True

In [28]:
bool(None)

False

In [29]:
bool('1203')

True

In [30]:
bool('')

False

# Переменные

In [32]:
a = 5
id(a)

10781800

In [33]:
b = 5
id(b)

10781800

Переменные в пайтон - просто ссылки

In [34]:
a = a + 1
id(a)

10781832

In [35]:
a = a + 1
id(a)

10781864

- Осмысленные названия переменных
- `numberofstudents` - плохо
- `numberOfStudent`
- `number_of_students`

In [36]:
_num = 10

In [37]:
_ = 100

In [38]:
a1 = 10

In [39]:
1a = 10

SyntaxError: invalid decimal literal (482919702.py, line 1)

In [40]:
100_000_000

100000000

In [41]:
число_Пи = 3.1415

In [42]:
chislo_Pi = 3.1415

# Математические операции

In [43]:
1 + 4

5

In [44]:
1 - 3

-2

In [45]:
1 * 5

5

In [46]:
5 / 3

1.6666666666666667

In [47]:
5 // 3 # целая часть от деления

1

In [48]:
-5 // 3

-2

In [49]:
5 % 3 #остаток от деления

2

In [50]:
3 ** 5

243

In [51]:
5 ** 0.5

2.23606797749979

In [52]:
5 ** -2

0.04

1. операции в скобках
2. возведение в степень
3. умножение/деление
4. сложение/вычитание

In [53]:
import math

In [54]:
math.pi

3.141592653589793

# Ввод/вывод

In [55]:
input()

'329032'

In [57]:
a = input()
a

'302'

In [58]:
a = int(input())
a

203

In [59]:
b = input('Enter integer number: ')

In [62]:
a = int(input())
b = int(input())
a, b

ValueError: invalid literal for int() with base 10: ''

In [63]:
a, b = int(input())

ValueError: invalid literal for int() with base 10: '1 2'

In [66]:
a, b = map(int, input().split())
a, b

(1, 2)

In [67]:
print('Some text')

Some text

In [69]:
print('Some text and number', 102)

Some text and number 102

In [70]:
print('Some text and number', 102, sep='::')

Some text and number::102

In [74]:
print('First string\nSecond string')
print('Third string')

First string
Second string
Third string

In [75]:
print('First string\nSecond string', end='->')
print('Third string')

First string
Second string->Third string

In [85]:
print('First string\\\\nSecond string')

First string\\nSecond string

In [86]:
print(r"First string\nSecond string")

First string\nSecond string

In [87]:
name = 'John'
print('Hello, name')

Hello, name

In [88]:
name = 'John'
print('Hello,', name)

Hello, John

In [89]:
name = 'John'
print(f'Hello, {name}')

Hello, John